<h1>My Teams</h1>


<%@teams.each do |t|%>

<ul>
  <%=link_to "#{t.name}", team_path(t)%>
</ul>


<% end %>

<div class="bottomNav">
<div class = "addLink"><%= link_to "Add Team", new_team_path %></div>
</div>
