<h1><%= @team.name %></h1>

<%@membership.each do |member| %>
  <%= member.user.email %>
<% end %>

<%= link_to "Shows", team_shows_path(@team) %>



<div class = "navLink"><%= link_to "Back", teams_path%></div>
