<h1><%= @team.name %></h1>

<%@membership.each do |member| %>
  <%= member.user.email %>
<% end %>

<%= link_to "Shows", team_shows_path(@team) %>

<div class = "newLink"><%= link_to "New Show", new_team_show_path(@team) %></div>
