body{
  text-align: center;
  background-color: white;
  color: white;
  font-family: Chalkboard;

}

h1,h2,h3{
  font-family: 'Indie Flower', cursive;
}

#headline{
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
}

a{
  color: white;
}

a:hover{
  color: red;
}

ul{
  padding: 0;
  list-style: none;
}

header{
  margin: 0px 0px 0px 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  padding: 0 0 15px 0
}

.header2{

}

#background-img{
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
}

.bottomNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: 'Indie Flower', cursive;
}

.bottomNav > div{
  margin: 15px 15px 5px 15px;;
}

.longList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 50px 0px;
}

.longList>div{
  margin: 10px 0px 10px 0px;
}

.longList>div>div>li{
  list-style: disc;
  text-align: center;
  margin: 15px 0px 15px 0px;
}

.listTitle{
  font-size: 24px
}

#noteID{
  font-size: 10px;
}

.inputBox{
  width: 400px;
  height: 200px;
  margin: 15px 0px 15px 0px;
}

.inputLabel{
  color: white;
  font-size: 20px;
}

.inputField{
  margin: 15px 0px 15px 0px;
}

.submitBox{
  margin: 15px 0px 50px 0px;
}

 .noteBody{
   margin: 15px 0px 50px 0px;
 }
