<h1>All Shows for <%= @team.name %></h1>

<% @shows.each do |s| %>

<%=link_to "#{s.title}", team_show_path(@team, s)%>

<% end %>

<div class = "newLink"><%= link_to "New Show", new_team_show_path %></div>

<div class = "navLink"><%= link_to "Back to Teams", teams_path %></div>
